.tools__wrapper {
    padding-bottom: 90px;
    background-image: url("../img/tools/Bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

.tools__title {
    max-width: 460px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 110px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

//Tool block
.tool__icon {
    margin-bottom: 30px;
}

.tool__title {
    margin-bottom: 16px;
}