.button {
    @extend %font-primary;
    padding: 11px 25px 13px;
    @include font ($size:1.6rem, $height:2.2rem, $weight:600);
    border-radius: 4px;
    transition: all .3s;
    &_bordered {
        background: $color-light;
        border: 1px solid $color-bordered;
        color:  $color-text;
        &:hover {
            background: $color-hovered;
            border-color: $color-hovered;
        }
    }
    &_colored {
        background: $color-primary;
        border: 1px solid $color-primary;
        color: $color-light;
        &:hover {
            background: $color-aditional;
            border-color: $color-aditional;
        }
    }
}

.link-button {
    @include font ($size:1.6rem, $height:2.4rem, $weight:600);
    @extend %font-add;
    color: $color-primary;
    &:hover {
        color: $color-aditional;
    }
}

.link-button__text {
    margin-left: 9px;
}

